<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Methods</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h2>{{ title }}</h2>
        <input type="number" v-model="number" v-on:keyup="onKeyup()">
        <p>{{ text }}</p>
    </div>

    <div id="app-2">
        <h2>{{ title }}</h2>
        <p v-if="seen">{{ text }}</p>
        <button v-on:click="onClick()">{{ btnText }}</button>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='app.js'></script>
</html>